body {
    text-align: center; 
}

span {
    color:#ffd200; 
    display: inline-block;
    margin: 5em 0em; 
    padding: 1em;
    background: #0064a4;
    font-family: Helvetica, Verdana, sans-serif;
    text-transform: uppercase; 
    font-weight: 600;
}